/*视频作品页面样式*/

.videoWorkFrame{
    height: 380px;
    width: 1200px;
    margin-left: 80px;
    margin-top: 40px;
    padding-bottom: 30px;
    border-bottom: #777777 1px solid;
}

.videoWork{
    float: left;
    height: 350px;
    width: 450px;
    border-radius: 18px;
    margin-left: 50px;
}

.videoWork video{
    height: 350px;
    width: 450px;
    border-radius: 20px;
}

.videoWorkIntro{
    height: 350px;
    width: 720px;
    border-radius: 20px;
    margin-left: 520px;
    position: relative;
}

.videoWorkTittle{
    padding-top: 30px;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 32px;
    color: #333333;
}

.videoWorkSoftware{
    margin-top: 20px;
    margin-left: 30px;
    font-size: 18px;
    color: #777777;
}

.videoWorkIntroduction{
    position: absolute;
    bottom: 0px;
    margin-left: 30px;
    font-size: 26px;
    color: royalblue;
}

.videoWorkIntroduction p{
    margin-top: 10px;
    font-size: 18px;
    color: #777777;
}


/*两个视频高度不同，定制化*/

.videoWorkFrame2{
    height: 270px;
    width: 1200px;
    margin-left: 80px;
    margin-top: 40px;
}

.videoWork2{
    float: left;
    height: 270px;
    width: 450px;
    border-radius: 18px;
    margin-left: 50px;
}

.videoWork2 video{
    height: 270px;
    width: 450px;
    border-radius: 20px;
}

.videoWorkIntro2{
    height: 270px;
    width: 720px;
    border-radius: 20px;
    margin-left: 520px;
    position: relative;
}

.videoWorkTittle2{
    padding-top: 5px;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 30px;
    color: #333333;
}

.videoWorkSoftware2{
    margin-top: 10px;
    margin-left: 30px;
    font-size: 16px;
    color: #777777;
}

.videoWorkIntroduction2{
    position: absolute;
    bottom: 0px;
    margin-left: 30px;
    font-size: 24px;
    color: royalblue;
}

.videoWorkIntroduction2 p{
    margin-top: 10px;
    font-size: 18px;
    color: #777777;
}